<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.alan.exam.mapper.UserMapper">

    <sql id="simpleFiled">
        u.id,u.user_name,u.real_name,u.role_id,
        case
            when u.id_card is null or u.id_card = '' then null
            else concat(left(u.id_card, 3), '***********', right(u.id_card, 4))
        end as idCard,
        u.organization,u.position,
        case
            when u.phone is null or u.phone = '' then null
            else concat(left(u.phone, 3), '****', right(u.phone, 4))
        end as phone,
        u.avatar,u.create_time,u.status
    </sql>

    <!-- 批量添加用户 -->
    <insert id="insertBatchUser">
        insert into t_user
        (user_name, real_name, id_card, organization, position, phone, password,
         avatar, role_id, grade_id, create_time, status, is_deleted)
        values
        <foreach collection="list" item="user" separator=",">
            (#{user.userName},#{user.realName},#{user.idCard},#{user.organization},
             #{user.position},#{user.phone},#{user.password},null,#{user.roleId},
             null,#{user.createTime},1,0)
        </foreach>
    </insert>

    <!-- 批量移除班级 -->
    <update id="removeUserGrade">
        UPDATE t_user
        SET grade_id = null
        WHERE id IN
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>

    <!-- 用户退出班级 -->
    <update id="userExitGrade">
        update t_user u
        set u.grade_id = null
        where u.id = #{userId}
    </update>

    <!-- 获取用户信息 -->
    <select id="info" resultType="cn.org.alan.exam.model.vo.user.UserVO">
        select
        <include refid="simpleFiled"/>
        ,r.role_name,g.grade_name,g.id as gradeId
        <!--用户表、角色表、班级表-->
        from t_user u
        join t_role r on u.role_id = r.id
        left join t_grade g on u.grade_id = g.id
        where u.id = #{userId}
    </select>


    <!-- 分页获取用户信息 -->
    <select id="pagingUser" resultType="cn.org.alan.exam.model.vo.user.UserVO">
        select u.id,
        u.user_name,
        u.real_name,
        case
            when u.id_card is null or u.id_card = '' then null
            else concat(left(u.id_card, 3), '***********', right(u.id_card, 4))
        end as idCard,
        u.organization,
        u.position,
        case
            when u.phone is null or u.phone = '' then null
            else concat(left(u.phone, 3), '****', right(u.phone, 4))
        end as phone,
        u.role_id as roleId,
        u.create_time,
        case
            when u.role_id = 2 then (
                select group_concat(distinct teacher_grade.grade_name order by teacher_grade.grade_name separator '、')
                from t_user_grade teacher_user_grade
                join t_grade teacher_grade on teacher_user_grade.g_id = teacher_grade.id
                where teacher_user_grade.u_id = u.id
                  and teacher_user_grade.is_deleted = 0
                  and teacher_grade.is_deleted = 0
            )
            else student_grade.grade_name
        end as gradeName,
        student_grade.user_id as userId
        from t_user as u
        left join t_grade as student_grade on u.grade_id = student_grade.id
        <if test="roleId != null and roleId == 1">
            and student_grade.id in
            <foreach collection="gradeIdList" item="gId" open="(" close=")" separator=",">
                #{gId}
            </foreach>
        </if>
        <trim prefixOverrides="and" prefix="where">
            u.is_deleted = 0
            <if test="gradeId != null and gradeId != 0">
                and (
                    (u.role_id = 2 and exists (
                        select 1
                        from t_user_grade filter_user_grade
                        where filter_user_grade.u_id = u.id
                          and filter_user_grade.g_id = #{gradeId}
                          and filter_user_grade.is_deleted = 0
                    ))
                    or (u.role_id != 2 and u.grade_id = #{gradeId})
                )
            </if>
            <if test='realName != null and realName !=""'>
                and u.real_name like concat('%',#{realName},'%')
            </if>
            <if test="roleId != null and roleId == 1">
                and u.role_id = 1 and student_grade.is_deleted = 0
            </if>
            <if test="roleId == null ">
                and u.role_id in(1,2,3,4)
            </if>
        </trim>
        order by u.create_time desc
    </select>

    <select id="stuExamPage">
        SELECT *
        FROM t_user
        WHERE id in (SELECT grade_id FROM t_exam_grade WHERE exam_id= #{exam_id})
    </select>

    <!-- 获得管理员ID列表 -->
    <select id="getAdminList" resultType="java.lang.Integer">
        select id from t_user where role_id = 3
    </select>

</mapper>
